body {
    font-family: 'Arial', sans-serif;
    background-color: FloralWhite;
    color: #333;
}

.title-box .subtitle {
    font-family: 'Georgia', serif; 
    font-style: italic;
    font-size: 1.2rem;
    color: SandyBrown; 
    margin-bottom: 0.5rem;
}

.title-box .tagline {
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 1.75rem; 
    color: LightSlateGray; 
}

h1 img {
    vertical-align: middle;
    display: inline-block;
}

h1 {
    display: inline-flex;
    align-items: center;
    font-size: 2.5rem;
    color: DarkOrange;
}

.text-center {
    text-align: center;
}
img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 120px;
}

.button {
    font-size: 1rem; /* Adjust font size */
    width: 100px; /* Fixed width for the pill shape */
    height: 40px; /* Fixed height for the pill shape */
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 20px; /* Half the height makes it pill-shaped */
    text-align: center;
    display: inline-block;
    line-height: 40px; /* Centers the text vertically */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
    cursor: pointer; /* Adds a pointer cursor for hover */
}

.button:hover {
    background-color: #FF6600;
    color: #fff;
    border-color: #FF6600;
}
